.wrapper {
    width: 100%;
  }

  /* for iPhone 12Pro */
   @media only screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
  }

  
  /* for iPad */
  @media only screen and (min-width: 601px) {
    .wrapper {
        width: 100%;
    }
   
  }
 /* for laptop */
  @media  only screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
    }
   
  } 